@media (max-width: 1200px) {

    .hero__img {
        margin: 0;
        max-width: 377px;
    }

    .hero__img-control {
        position: static;
        max-width: none;
        margin-top: 30px;
    }

    /* ============================================ */

    .contact__inner::after {
        top: -16%;
    }

    /* ============================================ */

    .footer__inner {
        gap: 40px 15px;
        grid-auto-rows: auto auto;
        grid-template-columns: repeat(3, 1fr);
    }

    .footer__col:last-child {
        grid-column: 1 / -1;
        text-align: center;
    }

    .socials {}
}

@media (max-width: 1100px) {

    .about__img {
        grid-row: auto;
    }

    .about__body {
        align-self: center;
    }

    .about__grid {
        grid-column: 1/-1;
    }

    /* ================================================================= */

    .program__top {
    flex-direction: column;
    align-items: stretch;
    }

    .tab-controls {
        flex-wrap: wrap;
    }

    /* =================================================================== */

    .contact__inner {
        gap: 30px;
        align-items: center;
    }
}

@media (max-width: 900px) {

    .nav {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    /* ======================================================= */

    .accordion-list__control-title {
        font-size: 32px;
    }

    .accordion-list__control {
        padding: 20px 30px;
    }

    .accordion-list__control-icon {
        padding: 6px;
        width: 26px;
        height: 26px;
    }

    .accordion-content {
        gap: 20px;
    }

    .program__img {
        display: none;
    }
    .program__action{
        grid-template: repeat(3, auto) / minmax(280px, 1fr) 1fr;
        max-width: none;
    }

    /* ======================================================= */

    .gallary__inner {
        grid-template: none;
    }

    .gallary__img {
        display: none;
    }

    .gallary__info {
        max-width: none;
    }

    /* ======================================================= */

    .testimonials__inner {
        align-items: stretch;
        flex-direction: column;
    }

    .testimonials__nav {
        align-self: end;
    }

    .testimonials__scrollbar {
        max-width: 75%;
        left: 0;
        right: 0;
        margin: 0 auto;
    }

    /* ======================================================= */

    .contact__inner::before {
        content: url("../img/decor/barries.png");
        position: absolute;
        top: -16%;
        left: -2%;
    }

    .contact__inner {
        justify-content: center;
    }

    .contact__img {
        display: none;
    }

    

    /* ======================================================= */

    .footer__inner {
        grid-template-columns: repeat(2, 1fr);
    }

    .footer__col:last-child {
        grid-column: auto;
        text-align: left;
    }
}

@media (max-width: 800px) {

    .hero__content {
        max-width: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .hero__img {
        display: none;
    }

    .hero__img-control--mobile {
        display: flex;
        margin: 0 0 30px;
    }

    /* =================================== */

    .about__inner {
        grid-template: none;
    }

    .about__img {
        max-width: 500px;
        justify-self: center;
    }

    .about__body {
        text-align: center;
    }

    .about__grid {
        grid-template: none;
    }

    /* ====================================== */

    .accordion-content {
        flex-direction: column;
    }

    .accordion-col:first-child {
        max-width: none;
    }

    .accordion-content__text {
        width: 100%;
    }

    /* ====================================== */


}


@media (max-width: 600px) {

    .modal__title {
        font-size: 7.1vw;
    }

    /* =============================================== */

    .main__about {
        padding: 60px 0 80px;
    }

    .main__program,
    .main__gallary,
    .main__testimonials {
        padding: 0 0 80px;
    }

    /* =============================================== */

    .header__hero {
        padding-bottom: 80px;
    }

    .hero__title {
        font-size: 12vw;
    }

    /* ================================================ */


    .abuot__img-control {
        bottom: 0;
        left: 0;
        right: 0;
        max-width: none;
        border-radius: 0;
        padding: 5px 10px;
    }

    .about__grid {
        gap: 15px;
    }

    .about__grid-item {
        padding: 10px 15px;
    }

    /* ================================================= */

    .program__title {
    text-align: center;
    }
    
    .program__top {
        text-align: center;
        margin-bottom: 30px;
    }
    .program__action{
        grid-template: repeat(3, auto) / 1fr 1fr;
        gap: 15px;
    }
    .program__discount {
        justify-self: center;
        grid-row: auto;
        grid-column: 1 / -1;
    }

    .tab-controls {
        justify-content: center;
    }
    .tab-controls__link {
        padding: 10px 15px;
    }

    .accordion-list__control-title {
        font-size: 28px;
    }

    .accordion-list__control {
        padding: 15px 15px;
    }

    .accordion-content {
        padding: 0 15px 40px;
    }

    /* ================================================= */
    
    .gallary__inner {
        margin-bottom: 20px;
    }

    .gallary__content {
        flex-direction: column;
        
    }

    /* ================================================= */

    .testimonials__inner {
        margin-bottom: 20px;
    }

    .testimonials__slide {
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    /* ================================================= */

    .contact__inner::before {
        display: none;
    }

    .contact {
        padding-bottom: 80px;
    }

    .contact__title, 
    .contact__text {
        text-align: center;
    }

    /* ================================================= */

    .footer__inner {
        grid-template: none;
        justify-content: center;
        text-align: center;
    }

    .footer__col:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .socials__list {
        justify-content: center;
    }

    .footer__col:last-child {
        text-align: center;
    }

}

@media (max-width: 450px) {

    .main__about {
        padding: 60px 0 80px;
    }

    .main__program {
        padding: 0 0 80px;
    }

    /* ===================================== */

    .modal__img {
        max-width: 50%;
        margin-top: -45px;
    }

    .modal__title {
        font-size: 35px;
    }

    .modal__window {
        padding: 0 15px 45px;
    }

    /* ============================================= */

    .program__action{
        grid-template: none;
    }
    .program__price {
        text-align: center;
    }

    .tab-controls {
        gap: 15px;
    }

    .accordion-list__control {
        padding: 17px 15px;
    }

    .accordion-content {
        padding: 0 15px 30px;
    }
    
    .accordion-content__item {
        margin-bottom: 10px;
    }

    /* =============================================== */

    .testimonials__slide {
        padding: 20px 10px 30px;
    }

    /* ================================================ */

    .contact__title {
        font-size: 51px;
    }

}