:root {
    --general-bg: #EEEBE5;
    --general-text: #1A1A1A;
    --general-text-2: #4D4D4D;
    --accent-text-white: #FDFDFC;
    --accent-text-1: #333333;
    --accent-text-2: #666666;
    --accent-bg-1: #F7F6F3;
    --accent-bg-2: #5700FF;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5vw;
}

.body {
    font-family: 'Manrope', Arial, sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.container {
    max-width: 1596px;
    width: 100%;
    height: 100%;
    
    margin: 0 auto;
    padding: 0 15px;
    overflow: visible;
    box-sizing: border-box;
}

.button {
    max-width: 160px;
    width: 100%;
    max-height: 59px;
    height: 100px;

    background: var(--accent-bg-2);
    padding: 15px 18px;
    border-radius: 8px;

    display: flex;
    align-items: center;
}