:root {
    --general-bg: #EEEBE5;
    --general-text: #1A1A1A;
    --general-text-2: #4D4D4D;
    --accent-text-white: #FDFDFC;
    --accent-text-1: #333333;
    --accent-text-2: #666666;
    --accent-bg-1: #F7F6F3;
    --accent-bg-2: #5700FF;
    --transition: all 0.4s;

}

.body {
    font-family: 'Manrope', Arial, sans-serif;
    line-height: 1.5;
    color: var(--general-text);
    background: var(--general-bg);
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;
}

.container {
    max-width: 1626px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.button {
    max-width: 160px;
    width: 100%;
    max-height: 59px;
    height: 100px;

    background: var(--accent-bg-2);
    padding: 15px 18px;
    border-radius: 8px;

    display: flex;
    align-items: center;
}

/* ====================================================== */

.hero {
    margin-bottom: 150px;
}