.header__top {
    border-bottom: 1px solid #e1dbd1;
}

.header__top-inner {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    font-family: 'Manrope';
    font-size: 24px;
    font-weight: 600;
    color: var(--accent-bg-2);
    text-align: center;
}

.header__nav-container {
    display: flex;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    gap: 4vh 25px;
    align-items: center;
}

.nav__item {
    color: var(--accent-text-1);
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
}

.header__control {
    margin-left: 50px;
}

.header__button img {
    margin-right: 9px;
}

.call__text {
    color: var(--accent-text-white);
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
}

/* ============================================================= */

.burger-icon {
    z-index: 11;
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.burger-icon span,
.burger-icon span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: var(--accent-text-1);
    transition: var(--transition);
}

.burger-icon span::after {
    width: 25px;
    height: 3px;
    background-repeat: 100px;
    background: var(--accent-text-1);
    transition: var(--transition);
    margin-left: 5px;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::before,
.burger-icon span::after {
    content: '';
    position: absolute;
}

.burger-icon span::before {
    top: -8px;
}

.burger-icon span::after {
    bottom: -8px;
}

.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::before {
    top: 0;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::after {
    bottom: 0;
    transform: rotate(-45deg);
}

/* ============================================================= */

.header-hero {
    overflow: hidden;
}

.hero__content {
    margin-top: 147px;
    flex: 0 0 100%;
}


.hero__body {
    width: 50%;
    padding: 0 20px;
    margin-bottom: 60px;
}

.hero__greetings {
    max-width: 220px;
    background: #f5f3f0;
    border-radius: 13px;
    padding: 10px 0;

    margin-bottom: 30px;
}

.greetings__text {
    text-align: center;

    color: var(--general-text-2);
    font-family: 'Manrope';
    font-size: 28px;
    font-weight: 500;
}

.hero__title {
    color: var(--general-text);
    font-family: 'Manrope';
    font-size: 58px;
    font-weight: 600;
}

.hero__text {
    color: var(--general-text-2);
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 400;

    margin-bottom: 30px;
}

.hero__control {
    display: flex;
}

.hero__control span {
    margin-left: 4vw;
    display: flex;
    align-items: center;

    color: var(--general-text);
    font-family: 'Manrope';
    font-size: 14px;
    font-weight: 500;
}

.hero__button img {
    margin-right: 9px;
}

.button {}

.call__text {}

.hero__info {
    width: 59%;
    max-height: 179px;
    background: var(--accent-bg-1);
    border-radius: 12px 0px 0px 12px;
    padding: 40px 50px;
}

.hero__info-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.hero__info-item {}

.hero__info-title {
    font-family: 'Manrope';
    font-size: 48px;
    font-weight: 700;
}

.hero__info-title span {
    color: var(--accent-bg-2);
    margin-left: -6px;
}

.hero__info-text {
    color: var(--general-text-2);
    font-family: 'Manrope';
    font-size: 18px;
    font-weight: 500;
}

.hero__img {}

.hero__img img {
    max-width: 100%;
    border-radius: 0 0 0 30px;
}