/* ===========HEADER__HERO============== */

@media (min-width: 1000px) {

    .header-hero {
        display: flex;
    }

    .hero__img {
        flex: 0 0 43%;
        transform: translate(-100%, 0);
    }

}

/* =============MEDIA=================== */

@media (max-width: 1600px) {



    .hero__content {
        margin-top: 127px;
    }

    .hero__greetings {
        margin-bottom: 20px;
    }

    .hero__title {
        font-size: 48px;
    }

    .hero__text {
        font-size: 16px;

        margin-bottom: 30px;
    }

    .hero__info {
        max-height: 126px;
        padding: 20px 0;
    }

    .hero__info-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-left: 30px;
    }

    .hero__info-title {
        font-size: 38px;
    }

    .hero__info-text {
        font-size: 14px;
    }

    /* ======================================================== */



    /* ======================================================== */

    .footer__item {
        padding: 0 30px;
    }

}

@media (max-width: 1400px) {

    .header__control {
        margin-left: 30px;
    }

    .hero__info-list {
        display: grid;
        grid-template-columns: repeat(3, 0.3fr);
        margin-left: 15px;
    }

    .hero__img img {
        min-width: 602px;
    }

    /* ========================================================= */



    /* ========================================================= */

    .footer__item {
        padding: 0 15px;
    }

    .footer__contact {
        padding: 12px 16px;
        margin: 15px 0;
    }

}

@media (max-width: 1200px) {

    .nav {
        position: fixed;
        justify-content: center;
        inset: 0;
        z-index: 10;
        background: var(--general-bg);
        padding: 26vh 15px 30px;
        font-size: 24px;

        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: var(--transition);
    }

    .nav__list {
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }

    .burger-icon {
        display: flex;
    }

    .header__control {
        margin-left: 0;
    }



    .hero__content {
        margin-top: 20px;
    }

    .hero__body {
        margin-bottom: 20px;
    }

    .hero__greetings {
        margin-bottom: 10px;
    }

    .greetings__text {
        font-size: 18px;
    }

    .hero__img img {
        min-width: 500px;
    }

    /* ================================================== */



    /* ================================================== */

    .footer__copy {
        margin-top: 25px;
    }

}

@media (max-width: 1000px) {

    .header-hero {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;

    }

    .hero__content {
        flex: none;
    }

    .hero__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 500px;
        width: 100%;
    }

    .hero__greetings {
        padding: 15px 10px;
    }

    .hero__info {
        background: none;
        max-height: 300px;
        width: 100%;
        height: 100%;
    }

    .hero__info-list {
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }

    .hero__info-item {
        background-color: #f7f7f7;
        padding: 20px;
        border-radius: 8px;
        text-align: center;
    }

    .hero__info-item:first-child {
        grid-column: 1 / -1;
    }

    .hero__img img {
        min-width: 0;
        max-width: 500px;
        width: 100%;
        padding: 0 10px;
    }

    /* =============================================== */



    /* =============================================== */

    .footer {
        padding: 30px 0 10px;
    }

    .footer__contact {
        display: none;
    }

    .footer__top {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 150px;
    }

    .footer__nav-container {
        order: 2;
    }

    .footer__socials {
        order: 1;
    }

}

@media (max-width: 600px) {
    .header-hero {
        text-align: center;
    }
}

@media (max-width: 450px) {

    .hero__title {
        font-size: 40px;
    }

    /* ============================================= */



    /* ============================================= */

    .footer__nav-item {
        margin-right: 20px;

        color: rgb(51, 51, 51);
        font-family: 'Manrope';
        font-size: 14px;
        font-weight: 500;
        line-height: 1.5;
    }

    .footer__copy {
        font-size: 12px;
    }

}
